<h2>Busquedas</h2>
            <hr>
            <ul class="list-group">
                <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="" class="list-group-item">Buscar Pais</li>
                <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="region" class="list-group-item">Buscar region</li>
                <li [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="capital"  class="list-group-item">Buscar capital</li>
            </ul>